{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="container text-center p-5">
  <h1>{% trans "Sign In" %}</h1>

  <p>{% blocktrans %}If you have not created an account yet, then please
  <a href="{{ signup_url }}" class="text-decoration-none">SIGN UP/REGISTER</a> first.{% endblocktrans %}</p>

  {% if form.errors %}
    <div class="alert alert-danger" role="alert">
      {% trans "Invalid username or password. Please try again." %}
    </div>
  {% endif %}

  <form class="form p-2" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
    {{ form.as_p }}
    {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <!-- Apply the custom style for the Sign In button -->
    <button class="btn btn-custom w-50 mb-2" type="submit">{% trans "Sign In" %}</button>
  </form>
</div>

{% endblock %}
