{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Signup" %}{% endblock title %}

{% block content %}
<div class="container text-center p-5">
  <h1>{% trans "Sign Up" %}</h1>

  <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}" class="text-decoration-none">SIGN IN/LOG IN</a>.{% endblocktrans %}</p>

  <form class="form p-2 text-decoration-none" id="signup_form" method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}
    {{ form.as_p }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button class="btn btn-dark w-50 mb-2" type="submit">Sign Up</button>
  </form>
</div>
{% endblock content %}