body {
    background-color: #F9FAFC;
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #ffffff;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #003459;
}

.main-bg {
    background-color: #FFFFFF;
}

.main-content {
    color: #00171F !important;
}

.card {
    border: none;
    background-color: transparent;
}

.custom-brand .brand {
    color: white !important;
}

.custom-brand:hover .brand {
    color: #007EA7 !important;
}

.navbar-nav .nav-link,
.navbar-brand {
    color: #ffffff !important;  
}

.navbar-nav .nav-link:hover,
.navbar-brand:hover,
.navbar-toggler-icon:hover {
    color: #007EA7 !important;  
}

.image-container {
    position: relative;
}

.container .img-fluid {
    width: 100%;
    height: auto;
    max-width: 100%;
    display: block;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #237dd1;
}

.scale {
    width: 100%;
    height: auto;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.masthead-text {
    background-color: #00171F;
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    width: 40%; /* Set text width to 40% */
}

.masthead-image {
    position: relative;
    overflow: hidden;
    flex-grow: 1; /* Take remaining space */
    width: 60%; /* Set image width to 60% */
}

.masthead-image img {
    width: 100%; /* Ensure image fills its container */
    height: auto;
    display: block;
    border-radius: 10px;
}


.post-link {
    text-decoration: none;
    color: #00171F;
}

.post-link:hover,
.page-link {
    color: #007EA7;
}

.post-title {
    margin-top: 10%;
    margin-left: 5%;
    font-size: 3rem;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup,
.btn-edit {
    background-color: #188181;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-delete {
    color: #fff;
    background: #E84610;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}

.custom-brand .brand {
    font-family: 'Lato', sans-serif; 
    font-size: 1.8rem; 
    font-weight: bold; 
    color: #333; 
}

.custom-search-btn {
    color: white !important; 
    border-color: white !important; 
}

.custom-search-btn:hover {
    color: white !important; 
    background-color: #007EA7 !important; 
    border-color: white !important; 
}

.footer a {
    color: #ffffff;
    transition: color 0.3s;
}

.card-color {
    color: #007EA7;
}

.footer a:hover {
    color: #007EA7;
}

.btn-custom {
    background-color: #003459;
    color: white;
    transition: background-color 0.3s ease;
}

.btn-custom:hover {
    background-color: #007EA7;
    color: white;
}

.like-icon i, .bookmark-icon i {
    transition: color 0.3s ease, transform 0.3s ease;
}

.like-icon:hover i, .bookmark-icon:hover i {
    color: #007EA7;
    transform: scale(1.1);
}

.liked i, .bookmarked i {
    color: #007EA7 !important; /* Specific styles for already liked/bookmarked state */
}

.liked:hover i, .bookmarked:hover i {
    color: #007EA7 !important; /* Maintain specific color on hover */
}

.text-warning-orange {
    color: orange;
}

.custom-message {
    font-weight: bold;
    font-size: 18px;
}
