{% load static %}
{% load crispy_forms_tags %}

{% url 'home' as home_url %}
{% url 'about' as about_url %}
{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}

<!DOCTYPE html>
<html class="h-100" lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Software Stack - Explain about 3 main streams - Advanced Front-End Development, E-Commerce, Predictive Analysis.">
    <meta name="keywords" content="software stacks, technology stacks, full stack development, 
        software development tools, front-end technologies, predictive analytics,
        e-commerce, back-end technologies, database technologies, development frameworks, 
        programming languages, tech stack comparison, choosing a tech stack, stack development tutorials, 
        tech stack resources, modern development stacks, enterprise software stacks">


    <!-- Google Fonts CSS -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap" rel="stylesheet">

    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>Software Stacks</title>


</head>

<body class="d-flex flex-column h-100 main-bg">

    <!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container-fluid">
        <a class="navbar-brand custom-brand" href="{% url 'home' %}">
            <span class="brand"> Software Stacks <i class="fa-solid fa-s"></i> <i class="fa-solid fa-s"></i> </span>
        </a>
        <!-- Move Home Navbar Item to Center -->
        <div class="navbar-collapse justify-content-center">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link {% if request.path == home_url %}active{% endif %}" aria-current="page" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Categories
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="{% url 'category_posts' 'front-end-development' %}">Front-End Development</a></li>
                        <li><a class="dropdown-item" href="{% url 'category_posts' 'e-commerce' %}">E-Commerce</a></li>
                        <li><a class="dropdown-item" href="{% url 'category_posts' 'predictive-analytics' %}">Predictive Analysis</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == about_url %}active{% endif %}" aria-current="page" href="{% url 'about' %}">About & Contact</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ user.username }}
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'bookmarked_posts' %}">My Bookmarks</a></li>
                            <li><a class="dropdown-item" href="{% url 'liked_posts' %}">My Likes</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_signup' %}">Register</a>
                    </li>
                {% endif %}
            </ul>
        </div>
        <!-- Search Bar on Navbar Right -->
        <div class="d-flex">
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-primary" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>

<!-- displaying Django messages -->
<div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible
          fade show" id="msg" role="alert">
          {{ message | safe }}
          <button type="button" class="btn-close"
            data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>


    <main class="flex-shrink-0 main-bg">

        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}

    </main>

    <!-- Footer -->
    <footer class="footer mt-auto py-3 dark-bg">
        <p class="m-0 text-center text-white">Follow Us</p>
        <p class="m-0 text-center text-white">
            <i class="fab fa-twitter-square ms-3"></i>
            <i class="fab fa-instagram-square ms-3"></i>
            <i class="fab fa-facebook-square ms-3"></i>
            <i class="fab fa-youtube-square ms-3"></i>
            <i class="fab fa-telegram-plane ms-3"></i>
            <i class="fab fa-linkedin ms-3"></i>
            <i class="fab fa-github ms-3"></i>
        </p>
        <p class="m-0 text-center text-white">Copyright © | Software Stacks | Educational Purpose Only | Code Institute | 2024</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
        </script>
</body>

</html>
